.container {
  position: absolute;
  width: 280px;
  top: 100%;
  right: 0;
  z-index: 10;
}

.datePicker {
  display: none;
  position: relative;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  border-bottom: 2px solid rgb(39, 39, 39);
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: hsl(0, 0%, 100%);
}
.datePicker.active {
  display: block;
}

.datePicker:hover {
  background-color: hsl(0, 0%, 10%);
}

.datePicker .selectedDate {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

.datePicker .dates {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
}

.datePicker .dates .month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid hsl(0, 0%, 15%);
}

.datePicker .dates .month .arrows {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

.datePicker .dates .month .arrows:hover {
  background-color: hsl(0, 0%, 19%);
}

.datePicker .dates .month .arrows:active {
  background-color: hsl(3, 95%, 35%);
}

.datePicker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 200px;
  border-bottom: 2px solid hsl(0, 0%, 15%);
}
.datePicker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
}
.datePicker .dates .days .day.selected {
  background-color: hsl(3, 95%, 35%);
}
.datePicker .dates .days .day:hover:not(.selected) {
  background-color: hsl(0, 0%, 19%);
}
