.g6MiniMap {
  background: #000;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  /* .g6MiniMap {
    background: #000;
    position: absolute;
    right: 0;
    bottom: 0;
  } */
}
