input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: hsl(0, 0%, 100%);
}

input[type='number'] {
  -moz-appearance: textfield;
  color: hsl(0, 0%, 100%);
}

.timePicker {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  padding: 25px 15px;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  font-weight: 700;
  user-select: none;
}

.timePicker .hour,
.timePicker .minute,
.timePicker .second {
  position: relative;
  min-width: 60px;
  text-align: center;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.timePicker .hour .hr,
.timePicker .minute .min,
.timePicker .second .sec {
  background: none;
  font-size: 20px;
  appearance: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  text-align: center;
}

.timePicker .hour .hrUp,
.timePicker .hour .hrDown,
.timePicker .minute .minUp,
.timePicker .minute .minDown,
.timePicker .second .secUp,
.timePicker .second .secDown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 20px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
}

.timePicker .hour .hrUp,
.timePicker .minute .minUp,
.timePicker .second .secUp {
  top: -15px;
  border-bottom: 15px solid hsl(0, 0%, 100%);
}

.timePicker .hour .hrDown,
.timePicker .minute .minDown,
.timePicker .second .secDown {
  bottom: -17px;
  border-top: 15px solid hsl(0, 0%, 100%);
}

.timePicker .hour .hrUp:hover,
.timePicker .hour .hrDown:hover,
.timePicker .minute .minUp:hover,
.timePicker .minute .minDown:hover,
.timePicker .second .secUp:hover,
.timePicker .second .secDown:hover {
  border-bottom-color: #53565a;
  border-top-color: #53565a;
}
